// Some variables for our scss

$primary-color: white;
$secondary-dark: black;
$gray-02: rgba(0, 0, 0, 0.27);
$article-color: #333;


$gray-01: #403D39;
$color-silver: #BDCACE;
$color-flame: #EB5E28;
$color-black: #252422;
$color-floral-white: #FFFCF2;