@import url('https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.003/web/hack.min.css');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Raleway&family=Roboto:wght@300;400&display=swap');

@import "variables";

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px; 10px / 16px = 62.5%
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(0,0,0);

  &:visited {
    color: inherit;
  }

  &:hover {
    color: $color-flame;
  }
}

header {
  text-align: center;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 1.8rem;

  &>h1,
  h2 {
    margin: 0;
    padding: 0;
  }

  &>h1 {
    font-size: 2.7rem;
  }

  &>h2 {
    font-size: 1.6rem;
  }
}

body {
  font-size: 1.6rem;
  background-color: #feefe294;
}

p {
  margin: 1rem 0;

  &>code {
    background-color: rgba(214, 214, 214, 0.72);
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    font-size: 1.4rem;
  }
}

article {

  &>h1 {
    margin: 1.8rem 0 0.6rem;
  }
}

footer {
  margin-top: 5rem;
  text-align: center;
}

.article__meta {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.54);
  margin: 0.5rem 0;
}

.article__list {
  &>article:nth-child(1) {
    margin-top: 2.8rem;
  }
}

.article__readmore {
  &:hover {
    color: $color-silver;
  }

  &>a {
    color: $color-flame;
  }
}


main {
  padding-top: 2rem;

  &>h1 {
    margin: 1rem 0;
  }

  &>.article__meta {
    margin-top: 1rem;
    padding-bottom: 0.8rem;
    margin-bottom: 1.6rem;
    border-bottom: 0.1rem solid rgba(0,0,0,0.27);
  }
}

pre {
  background-color: rgba(255, 255, 255, 0.72);
  padding: 1.2rem;
  margin: 1.2rem 0;
  border-radius: 0.2rem;

  &>code {
    font-size: 1.3rem;
    font-family: 'Hack', Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    line-height: 2.2rem;
  }
}

.article__content {
  &>p>a {
    color: $color-flame;
  }

  &>p>em{
    color: rgba(0,0,0,0.54);
  }

  &>blockquote {
    border-left: 1px solid rgba(0, 0, 0, 0.27);
    padding: 0.8rem 2.4rem;
    margin: 0;
    color: rgba(0,0,0,0.54);
    &>p>a {
      color: $color-flame;
    }
  }
}
