@import url('https://cdnjs.cloudflare.com/ajax/libs/hack-font/3.003/web/hack.min.css');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Raleway&family=Ubuntu:wght@300;400&display=swap');

@import "variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px; 10px / 16px = 62.5%
}

body {
  font-family: "Ubuntu 2", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

header {
  margin: 0 auto;
  max-width: 110rem;
  padding: 0.5rem 0rem;
  margin-bottom: 1.45rem;


  & .title {
    font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-decoration: none;
    font-size: 2.4rem;
    color: $secondary-dark;
  }

  & .subtitle {
    font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height: 1.1;
    font-size: 1.4rem;
    color: $secondary-dark;
    padding-left: 0.1rem;
  }
}

main {
  max-width: 76.8rem;
  margin: 0 auto;
}


.article {

  &__heading {
    font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 4.0rem;
    font-weight: 300;
    letter-spacing: -1px;
  }

  &__meta {
    font-size: 1.6rem;
    margin-bottom: 0.7rem;
    color: $gray-01;

    & > span {
      color: $color-black;
    }
  }

  &__blurb {
    margin-top: 1.4rem;
  }

  &__readmore {
    margin-top: 1.4rem;
    font-size: 1.4rem;

    &:hover {
      color: $color-silver;
    }
  }
}

.article__content {
  margin-top: 0.2rem;

  font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.6rem;
  color: $article-color;
  line-height: 1;

  & > h2 {
    font-size: 2.8rem;
    margin-top: 2.4rem;
    margin-bottom: 1.2rem;
    letter-spacing: -1px;
  }

  & > pre {
    background-color: rgb(242, 242, 242);
    padding: 1.2rem;
    margin: 1.2rem 0;
    border-radius: 0.2rem;

    & > code {
      font-size: 1.3rem;
      font-family: 'Hack', Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
      line-height: 2.2rem;
    }
  }
}

article {
  &:not(:first) {
    border-top: solid 1px $color-black;
  }
}

footer {
  margin-top: 5rem;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  color: $gray-01;
  text-transform: uppercase;
}